html, body, h1, h2, h3, h4, h5, h6, p , span, i, div, input, button {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: rgb(252, 247, 239);
    color: black;
}

.container {
    width: 1000px;
    margin: auto;
}

table, tr, td, th {
    border: 2px solid black;
    text-align: center;
}

.book-cover {
    width: 150px;
}
.form-control{
        border-radius:25px;
        border:2px solid lightgray;
        align-items: center;
        box-shadow: 0 0px 10px rgba(85, 85, 85, 0.274);
}
.header{
    margin-top: 90px;
}
.main-color{
    color:#f59c3d!important;
}
#search-button {
    border-radius:40px;
}